<div class="flex min-h-screen bg-white-100">



  <div class="w-full md:w-1/6 bg-blue-600 text-white p-4 flex flex-col justify-between">

    <div>
      <div class="text-center mb-6">
        <img src="assets/logo.jpg" alt="Company Logo" class="mx-auto w-32">
      </div>
      <ul class="space-y-4">
        <li><a href="/admin-dashboard" class="sidebar-link">Home</a></li>
        <li><a href="/events" class="sidebar-link">Profile</a></li>
        <li><a routerLink="/events" class="sidebar-link">Tasks</a></li>
        <li><a href="/events" class="sidebar-link">My Leave</a></li>
        <li><a href="/events" class="sidebar-link">HR Notice</a></li>
      </ul>
    </div>

    <div class="text-center mb-6">
      <div class="profile-link">
        <a href="/events" class="sidebar-link">Inbox</a>
      </div>
      <div class="profile-link">
        <a href="/login" class="sidebar-link">Logout</a>
      </div>
    </div>
  </div>






  <div class="flex-1 p-6">




    <header class="flex justify-between items-center mb-6">
      <div class="text-2xl font-semibold text-blue-600">Admin Dashboard</div>
      <div class="flex items-center space-x-4">
        <!-- <img src="assets/logo.jpg" alt="Employee Photo" class="w-10 h-10 rounded-full">
        <div class="text-sm">John Doe</div>
        <div class="relative">
          <div class="absolute right-0 top-0 bg-red-500 text-white rounded-full w-4 h-4 text-xs text-center">3</div>
          <button class="bg-blue-600 text-white p-2 rounded-full">
            <i class="fa fa-bell"></i>
          </button>
        </div> -->
      </div>
    </header>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">


  <div class="bg-white p-4 rounded-lg shadow-md cursor-pointer hover:bg-blue-50">
    <h3 class="font-bold text-2xl">Create Tasks</h3>
    <!-- <p class="text-sm">View and track your attendance.</p> -->
    <div class="workspace-link">
      <a href="/events" class="workspace-link-item">View Tasks</a>
    </div>
  </div>


  <div class="bg-white p-4 rounded-lg shadow-md cursor-pointer hover:bg-blue-50">
    <h3 class="font-semibold text-lg">All tasks</h3>
    <!-- <p class="text-sm">View your leave balance and requests.</p> -->
    <div class="workspace-link">
      <a href="/events" class="workspace-link-item">View All Tasks</a>
    </div>
  </div>


  <div class="bg-white p-4 rounded-lg shadow-md cursor-pointer hover:bg-blue-50">
    <h3 class="font-semibold text-lg">Re-Works</h3>
    <!-- <p class="text-sm">Apply for leaves and requests.</p> -->
    <div class="workspace-link">
      <a href="/applications" class="workspace-link-item">View Reworks</a>
    </div>
  </div>






  <div class="bg-white p-4 rounded-lg shadow-md cursor-pointer hover:bg-blue-50">
    <h3 class="font-semibold text-lg">Completed Tasks</h3>
    <!-- <p class="text-sm">Upcoming company events.</p> -->
    <div class="workspace-link">
      <a href="/events" class="workspace-link-item">View Completed Tasks</a>
    </div>
  </div>
</div>


<div class="bg-white p-4 rounded-lg shadow-md cursor-pointer hover:bg-blue-50">
  <h3 class="font-semibold text-lg">All Assigned Tasks Tasks</h3>
  <!-- <p class="text-sm">Upcoming company events.</p> -->
  <div class="workspace-link">
    <a href="/events" class="workspace-link-item">View Assigned Tasks</a>
  </div>
</div>
</div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-6">

       <!-- <app-employee-details></app-employee-details>
       <app-workspace></app-workspace> -->

    </div>
  </div>
